<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matingting.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".PhoneSecurityActivity"
            android:label="@string/title_activity_phone_security" >
        </activity>

        <receiver android:name=".receiver.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SMSReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!--
        <receiver android:name=".receiver.CallListenReceiver">  
        <intent-filter>  
                <action android:name="android.intent.action.PHONE_STATE"/>  
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />  
        </intent-filter>  
         </receiver>
        -->
        <activity
            android:name=".SecuritySettingCompletedActivity"
            android:label="@string/title_activity_security_setting_completed" >
        </activity>

        <service android:name=".service.LocationService" >
        </service>
        <service android:name=".service.CallLstenService" >
        </service>

        <activity
            android:name=".AdvancedToolsActivity"
            android:label="@string/title_activity_advanced_tools" >
        </activity>
        <activity
            android:name=".AddressSearchActivity"
            android:label="@string/title_activity_address_search" >
        </activity>
        <activity
            android:name=".DragActivity"
            android:label="@string/title_activity_drag" >
        </activity>
    </application>

</manifest>
